<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <mat-form-field>
    <input matInput type="text" placeholder="First Name" formControlName="firstName">
  </mat-form-field>

  <mat-form-field>
    <input type="text" matInput placeholder="Last Name" formControlName="lastName">
  </mat-form-field>

  <div formGroupName="address">
    <mat-form-field>
      <input type="text" matInput placeholder="Street" formControlName="street">
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput placeholder="City" formControlName="city">
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput placeholder="State" formControlName="state">
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput placeholder="Zip" formControlName="zip">
    </mat-form-field>
  </div>

  <button mat-button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>


