<app-expansion-panel [title]="'Home Expansion Panel'" [description]="'Description of home expansion panel'">
  <p>Here is te content of the expansion panel component</p>
</app-expansion-panel>


<app-expansion-panel [title]="'Home Second Expansion Panel'" [description]="'Description of home expansion panel'">
  <p>Here is te content of the expansion panel component</p>
</app-expansion-panel>


<app-expansion-panel [title]="'Home Third Expansion Panel'" [description]="'Description of home expansion panel'">
  <p>Here is te content of the expansion panel component</p>
</app-expansion-panel>
